input,
textarea {
  outline: none !important;
}


.mobile-root {
  width: 450px;
  height:100%;
  position: absolute;
  left:calc(50% - 225px);
  top:0;
  bottom:0;
}

#root {
  display:flex;
  width:100%;
  height:100%;
}

#root >div, 
#root >div > div {
  flex:1;
  display:flex;
}

.web-root {
  flex:1;
  display:flex;
} 
